<!DOCTYPE html>

{% load static %}

<html lang="en">

  <head>

      <link rel="stylesheet" href='../static/css/base.css'>
      <link rel="stylesheet" type="text/css" href='{% static "css/lib/bootstrap.min.css" %}'>
      <link rel="stylesheet" type="text/css" href='{% static "css/lib/bootstrap.css" %}'>

  </head>
  <style>
    .col-center{
      margin-left:200px;
      margin-right:200px;
    }
    h2{
      display:inline;
    }
  </style>

  <body>
    <div style="height:60px;">
      {% include "navbar.html" %}
      {% if partner %}
        {% for part in partner %}
          <div class="col-md-8" style="margin-top:55px;">
           <div><a href="/client/menu_{{part.name}}" style="color:black;">{{part.name}}</a></div>
          </div>
         {%endfor%}

      {% else %}
        <div class="col-md-8" style="margin-top:55px;">
          <button><a href="/client" style="color:black;">Client</a></button>
          <button><a href="/partner" style="color:black;">Partner</a></button>
        </div>
      {% endif %}
    </div>



  </body>

</html>
