{% extends "base.html" %}
{% block title %}baemin{% endblock %}
{% block body %}
<style>
  .col-center{
    margin-left:200px;
    margin-right:200px;
  }
  h2{
    display:inline;
  }
</style>
<div style="margin-top:60px" class="container">
  {% if user.is_authenticated %}
    {% if user.partner %}
    <div class="row">
      <div class="col-sm-6 col-center">
        <h2>{{ user.partner.name }}</h2>님 환영합니다
        <button class='btn btn-default'><a href="/partner/logout">로그아웃</a></button>
        <button class='btn btn-default'><a href="/partner/edit_info">정보수정</a></button>
        <table class="table">
          <tr>
            <th>업체명</th>
            <td>{{ user.partner.name }}</td>
          </tr>
          <tr>
            <th>연락처</th>
            <td>{{ user.partner.contact }}</td>
          </tr>
          <tr>
            <th>주소</th>
            <td>{{ user.partner.address }}</td>
          </tr>
          <tr>
            <th>상세내용</th>
            <td>{{ user.partner.description }}</td>
          </tr>
        </table>
      </div>
  </div>
    {% else %}
      추가정보를 입력하세요.
      <div class="row">
        <div class="col-sm-6" style="margin-left:130px;margin-right:100px">
          <form method="post" action="">
            {% csrf_token %}
            <!-- <div><input type="text" name="name"></div>
            <div><input type="text" name="contract"></div>
            <div><input type="text" name="address"></div>
            <div><input type="text" name="description"></div> -->
            {{ form.as_p }}
            <button>저장하기</button>
          </form>
      </div>
    </div>
    {% endif %}
  {% else %}
  <div>로그인해주세요.</div>
  <button><a href="/partner/login">로그인</a></button>
  {% endif %}
</div>
{% endblock %}
