{% extends "base.html"%}
{% block body %}
<style>
  th{
    width:30%;
  }
  td{
    width:30%;
    height:auto;
  }
</style>
<div class="container">
  <div class="col-sm-8">
    {% for menu in menu_list %}
    <table class="table">
      <tr>
        <th style="width:30%;">이미지</th>
        <th>메뉴 이름</th>
        <th>가격</th>
      </tr>
      <tr>
        <td><img style="max-width:100px;" src='{{menu.image.url}}'></td>
        <td><a href="/menu/{{ menu.id }}" style="color:black;">{{menu.name}}</a></td>
        <td>{{menu.price}}</td>
        {% endfor %}
      </tr>
    </table>
    <button><a href="/menu/add" style="color:black;" onmouseover="this.style='color:white;'" onmouseout="this.style='color:black;'">메뉴추가하기</a></button>
  </div>
</div>

{% endblock %}
