
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">배민따라하기</a>
      <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarCollapse" aria-label="Toggle navigation" type="button" data-toggle="collapse" data-target="#navbarCollapse" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
            {% if user.client %}
              <li class="nav-item active">
                <a class="nav-link" href="/client">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/client/menu">메뉴</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/client/orderlist">주문확인</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/partner/logout">로그아웃</a>
              </li>
            {% elif user.partner %}
              <li class="nav-item active">
                <a class="nav-link" href="/partner">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/partner/menu_list/">메뉴</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">주문현황</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/partner/logout">로그아웃</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/client/logout/">로그아웃</a>
              </li>
            {% endif %}
          {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/partner/login">로그인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/partner/signup">회원가입</a>
          </li>
          {% endif %}
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" aria-label="Search" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
